{% extends "base.html" %}
{% block content %}
<h2>Register a Student</h2>

<form method="POST">
    <label>Name:</label><br>
    <input type="text" name="name" required><br><br>

    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label>Course:</label><br>
    <input type="text" name="course" required><br><br>

    <label>Phone:</label><br>
    <input type="text" name="phone" required><br><br>

    <input type="submit" value="Register">
</form>
{% endblock %}
