{% extends "base.html" %}
{% block content %}
<h2>All Registered Students</h2>

<table border="1" cellpadding="8" cellspacing="0" style="margin: auto;">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Course</th>
        <th>Phone</th>
        <th>Registered By</th>
    </tr>
    {% for s in students %}
    <tr>
        <td>{{ s[0] }}</td>
        <td>{{ s[1] }}</td>
        <td>{{ s[2] }}</td>
        <td>{{ s[3] }}</td>
        <td>{{ s[4] }}</td>
        <td>{{ s[5] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
